body {
    margin: 25px;
    background-color: #ff7700;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;    
}

.list-bottom {
    margin-bottom: 25px;
}

button {
    margin-top: 15px;
    position: absolute;
    left: -100px;
    top: -14px;
}

.orgcode {
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(189, 27, 148);
    color: white;
}
.light {
    background-color: rgb(214, 48, 131);
    font-weight: bold;
    color:rgb(94, 8, 8);
    font-style: italic;
}

.warning {
    background-color: rgb(221, 121, 38);
    font-style: italic;
    color: rgb(94, 34, 11);
}

input[type=checkbox] {
    visibility: hidden;
}
p {
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.checkboxThree {
    width: 120px;
    height: 40px;
    background: #eee;
    margin: 20px 100px;
    border-radius: 50px;
    position: relative;    
}

/**
 * Create the text for the On position
 */
 .checkboxThree:before {
    content: 'On';
    position: absolute;
    top: 12px;
    left: 13px;
    height: 2px;
    color: #26ca28;
    font-size: 16px;
}

/**
 * Create the label for the off position
 */
 .checkboxThree:after {
    content: 'Off';
    position: absolute;
    top: 12px;
    left: 84px;
    height: 2px;
    color: rgb(231, 13, 13);
    font-size: 16px;
}

/**
 * Create the pill to click
 */
 .checkboxThree label {
    display: block;
    width: 52px;
    height: 22px;
    border-radius: 50px;

    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 9px;
    z-index: 1;
    left: 12px;
    background: red;
}

/**
 * Create the checkbox event for the label
 */
.checkboxThree input[type=checkbox]:checked + label {
    left: 60px;
    background: #26ca28;
}

